<div class="custom-top-title-container custom-title-menu">
  <h4>Articles</h4>
  <%= link_to 'Create', new_article_path, class: "btn btn-primary custom-btn-primary" %>
</div>
<%= render 'article' %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>